---
import AboutHeroImage from '../assets/Markdown.jpeg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Old mama trying to rock with her lovely daughter :)"
	pubDate={new Date('Feb 07 2026')}
	heroImage={AboutHeroImage}
	heroImageCompact={true}
>

	<p>
	<p>
	A small space I’m sharing with my daughter, Erfei.
	</p>

	<p>
    To document the little moments of her growing up, 
	the thoughts I wish to pass on, 
	and the things I’m still learning myself. 
	</p>
    
    <p>
	Here live the quiet wonders of everyday life, the joys of art and making, the mysteries of our universe, and small reflections on love, time, and being human.
    </p>

	<p>
      Some of these words are meant for her.<br />
      Some are simply my way of making sense of the world.
    </p>

	<p>
      This is neither a guidebook nor a diary, but something in between — a record of curiosity, motherhood, and growing together as mama and daughter :)
    </p>
	

</Layout>
